# Question 1
Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:

b()

b()

b()

a

?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [188]:
a = 0

def b():
    
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
    
print(a)

6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
    
fileLength('midterm.py') 
    
    284 

fileLength('idterm.py')

        Traceback (most recent call last):
        File "<pyshell#34>", line 1, in <module> 
    
    fileLength('idterm.py') 
    File "/Users/me/midterm.py", line 3, in fileLength 
    infile = open(filename) 
    FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
    
    fileLength('midterm.py') 
        358 
    fileLength('idterm.py')
        File idterm.py not found.

In [1]:
def fileLength(introduction):

        try:
                f = open(introduction,'r')
            
                data = f.readlines()                  

                line = ""
                for i in data:
                        line += i
                result = len(line)
                return result
            
        except FileNotFoundError:
                return ("The file {} is not found.".format(introduction))

print(fileLength('introduction.ipynb'))
print(fileLength('introduction1.ipynb'))

1024
The file introduction1.ipynb is not found.

# Question 3
Write a class named Marsupial that can be used as shown below:

m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents() ['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and

c. overloads the __str__ operator so it behaves as shown below.

k = Kangaroo(0,0)

print(k) I am a Kangaroo located at coordinates (0,0)

k.put_in_pouch('doll')

k.put_in_pouch('firetruck')

k.put_in_pouch('kitten')

k.pouch_contents() ['doll', 'firetruck', 'kitten'] 

k.jump(1,0)

k.jump(1,0)

k.jump(1,0) 

print(k) I am a Kangaroo located at coordinates (3,0)

In [309]:
class marsupial:
    def __init__(self,n,m):
        self.pouch=[]

    def put_in_pouch(self, items):
        self.pouch.append(items)

    def pouch_contents(self):
        return self.pouch

class kangaroo(marsupial):
    
    def __init__(self,n,m):
        super().__init__(n,m)
        self.dn = 0
        self.dm = 0

    def jump(self,n,m):
        self.dn = self.dn + n
        self.dm = self.dm + m

    def __str__(self):
        return ('I am a Kanagroo located at coordinates ({},{})'.format(self.dn,self.dm))

In [310]:
k = kangaroo(0,0)
print(k)

I am a Kanagroo located at coordinates (0,0)

In [311]:
k.put_in_pouch('doll')

k.put_in_pouch('firetruck')

k.put_in_pouch('kitten')

print(k.pouch_contents())

['doll', 'firetruck', 'kitten']

In [313]:
k.jump(1,0)

k.jump(1,0)

k.jump(1,0)

print(k)

I am a Kanagroo located at coordinates (6,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

collatz(1)

1

collatz(10)

10

5

16

8

4

2

1

In [9]:
def collatz_sequence(a):
    num_seq = [a]
    
    if a < 1:
        return []
    
    while a > 1:
        if a % 2 == 0:
            a = a / 2
        else:
            a = 3 * a + 1
 
        num_seq.append(a) 
    
    return num_seq

print(collatz_sequence(1))
print(collatz_sequence(10))

[1]
[10, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0]

# Question 5 
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

binary(0)

0

binary(1)

1

binary(3)

11

binary(9)

1001

In [12]:
def binary(num):
    if num == 0:
        return '0'
    else:
        a = ''
        while num > 0:
            a = str((num % 2)) + a
            num //= 2
        return a


print('binary(0) =',binary(0))
print('binary(1) =',binary(1))
print('binary(3) =',binary(3))
print('binary(9) =',binary(9))

binary(0) = 0
binary(1) = 1
binary(3) = 11
binary(9) = 1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

infile = open('w3c.html')

content = infile.read()

infile.close()

hp = HeadingParser()

hp.feed(content)

W3C Mission
Principles

In [13]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):

    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']

    def handle_starttag(self, tag, attrs):
        if tag in self.headers:
            print(tag)

    def handle_endtag(self, tag):
        if tag in self.headers:
            print(tag)

    def handle_data(self, data):
        print(data)

parser = HeadingParser()
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission Principles

# Question 7 
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 2, 0) 

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html 

http://reed.cs.depaul.edu/lperkovic/csc242/test2.html 

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

http://reed.cs.depaul.edu/lperkovic/csc242/test3.html 

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [18]:
import re
from urllib.request import urlopen

def emails(content):
    list1 = []
for email in re.findall(r'[\w\.-]+@[\w\.-]+', content):
    if not email in list1:
        list1.append(email)
        print(list1)

url = 'http://www.cdm.depaul.edu'
content = urlopen(url).read().decode()
emails(content)

NameError: name 'content' is not defined

# Question 8
Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [5]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\user\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: prettytable<1 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: pickleshare in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: pygments in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: backcall in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: setuptools>=18.5 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%sql sqlite://

In [28]:
%%sql
CREATE TABLE whether
(
city varchar(15),
countrt varchar(15),
season varchar(15),
temperature float,
rainfall float
);

 * sqlite://
(sqlite3.OperationalError) table whether already exists
[SQL: CREATE TABLE whether (
city varchar(15),
countrt varchar(15),
season varchar(15),
temperature float,
rainfall float
);]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [32]:
%%sql

INSERT INTO whether VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
INSERT INTO whether VALUES('Mumbai', 'India', 'Spring', 28.4,16.2),
INSERT INTO whether VALUES('Mumbai', 'India', 'Summer', 27.9,1549.4),
INSERT INTO whether VALUES('Mumbai', 'India', 'Fall', 27.6,346.0),
INSERT INTO whether VALUES('London', 'United kingdom', 'Winter', 4.2,207.7),
INSERT INTO whether VALUES('London', 'United kingdom', 'Spring', 8.3,169.6),
INSERT INTO whether VALUES('London', 'United kingdom','Summer', 15.7,157.0),
INSERT INTO whether VALUES('London', 'United kingdom','Fall', 10.4,218.5),
INSERT INTO whether VALUES('Cairo', 'Egypt','Winter', 13.6,16.5),
INSERT INTO whether VALUES('Cairo', 'Egypt', 'Spring', 20.7,6.5);

 * sqlite://
(sqlite3.OperationalError) near "INSERT": syntax error
[SQL: INSERT INTO whether VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
INSERT INTO whether VALUES('Mumbai', 'India', 'Spring', 28.4,16.2),
INSERT INTO whether VALUES('Mumbai', 'India', 'Summer', 27.9,1549.4),
INSERT INTO whether VALUES('Mumbai', 'India', 'Fall', 27.6,346.0),
INSERT INTO whether VALUES('London', 'United kingdom', 'Winter', 4.2,207.7),
INSERT INTO whether VALUES('London', 'United kingdom', 'Spring', 8.3,169.6),
INSERT INTO whether VALUES('London', 'United kingdom','Summer', 15.7,157.0),
INSERT INTO whether VALUES('London', 'United kingdom','Fall', 10.4,218.5),
INSERT INTO whether VALUES('Cairo', 'Egypt','Winter', 13.6,16.5),
INSERT INTO whether VALUES('Cairo', 'Egypt', 'Spring', 20.7,6.5);]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [33]:
%%sql
select * from whether;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)]

# A
All the temperature data.

In [36]:
%%sql
select temperature from whether;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,)]

# B
All the cities, but without repetition.

In [37]:
%%sql
select distinct city from whether;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

# C
All the records for India.

In [38]:
%%sql
select * from whether where countrt =='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# D
All the Fall records.

In [39]:
%%sql
select * from whether where season == 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5)]

# E
The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [40]:
%%sql
select city, countrt, season from whether where rainfall between 200 and 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

# F
The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [41]:
%%sql
select city, countrt from whether where season == 'Fall' and temperature > 20 order by temperature ASC;

 * sqlite://
Done.

[('Mumbai', 'India')]

# G
The total annual rainfall for Cairo.

In [43]:
%%sql
select sum(rainfall) AS annual_rainfall from whether where city == 'Cairo';

 * sqlite://
Done.

[(23.0,)]

# H
The total rainfall for each season.

In [44]:
%%sql
select season, sum(rainfall) AS annual_rainfall from whether group by season;

 * sqlite://
Done.

[('Fall', 564.5),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.4),
 ('Winter', 230.1)]

# Question 9
.Suppose list words is defined as follows:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:


a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 
4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [14]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#answer of A
a = []
for i in words:
    a.append(i.upper())
print('A = {}'.format(a))

#Answer of b
b = []
for j in words:
    b.append(j.lower())
print('B = {}'.format(b))

#Answer of c
c = []
for k in words:
    c.append(len(k))
print('C = {}'.format(c))

#Answer of d
d = []
for l in words:
    addition = []
    addition.append(l.upper())
    addition.append(l.lower())
    addition.append(len(l))
    d.append(addition)
print('D = {}'.format(d))

#Answer of e
e = []
for m in words:
    if len(m) > 3:
        e.append(m)
print('E = {}'.format(e))

A = ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
B = ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
C = [3, 5, 5, 3, 5, 4, 3, 4, 3]
D = [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
E = ['quick', 'brown', 'jumps', 'over', 'lazy']